:root {
  --pink: #fae2e2;
  --dark-red: #d84040;
  --light-red: #f4c5c5;
  --light-yellow: #fff5db;
  --black: #000000;
  --white: #fff;
  --yellow: #ffebb6;
  --light-green1: #dff0d8;
  --light-green2: #d6e9c6;
  --green: #3c763d;

}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
